body { 
	background: linear-gradient(#EEF2F5, #8DA7BC);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

div.title {
	background-color: #23435F; 
	border-radius: 10px;
	text-align: center;
}

div.content {
	background-color: #E9EFF3;
	border-radius: 10px;
}

<!-- This div goes inside the other divs (which position the div) to apply padding  -->
.inner {
	background-color: #FFFFFF;
}
	
h3 {
	color: white;		
}

h4 {
	color: white;
}

.block {
	background-color:#23435F;
	padding: 10px;
	border-radius: 10px;
}

.top-buffer { 
	margin-top: 10px;
	margin-bottom: 10px;
}

.img-thumbnail {
	max-width:200px;
	max-height:200px;
	width:auto;
	height:auto;
}

.video-thumbnail {
	width:auto;
	height:auto;
	position:relative;
}


.video-play-text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 100px;
    width: 100%
}

.picture_content {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
